<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>dRAILd | How Screwed Am I?</title>
		<link rel="stylesheet" href="/stylesheets/styles.css" type="text/css" media="all" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<header class = "mainHeader">
        <nav><ul>
        <li><a href ="/"><font style = "Arial Narrow" color = "white">d</font><font style = "Arial Black" color = "red">RAIL</font><font style = "Arial Narrow" color = "white">d</font></a></li>
        <li><a href="/about">About</a></li>
        </ul></nav>
    </header>
		<div class = mainContent>
			<div class = "logo">
				<font style = "Arial Narrow" color = "white">d</font><font style = "Arial Black" color = "red">RAIL</font><font style = "Arial Narrow" color = "white">d</font>
			</div>
			
		<div class = "options">
				<header><h2>About</h2></header>
					<p>dRAILd adds the functionality to track an actual train, called a “Consist Makeup”, through its journey through the day.</p>
			</div>
		</div>
	</body>
</html>